<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.basedata.unittype.mapper.UnitTypeMapper">
    
	<sql id="unitTypeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.unit_type_code AS "unitTypeCode",
		a.unit_type_name AS "unitTypeName"
	</sql>
	
	<sql id="unitTypeJoins">
		
	</sql>
	
	<select id="selectMax" resultType="String" >
		SELECT max(unit_type_code) FROM mdm_unit_type
	</select>
    
	<select id="get" resultType="UnitType" >
		SELECT 
			<include refid="unitTypeColumns"/>
		FROM mdm_unit_type a
		<include refid="unitTypeJoins"/>
		WHERE (a.id = #{id}||a.unit_type_code = #{id})
	</select>
	
	<select id="findList" resultType="UnitType" >
		SELECT 
			<include refid="unitTypeColumns"/>
		FROM mdm_unit_type a
		<include refid="unitTypeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="unitTypeCode != null and unitTypeCode != ''">
				AND a.unit_type_code LIKE 
					<if test="dbName == 'oracle'">'%'||#{unitTypeCode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{unitTypeCode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{unitTypeCode},'%')</if>
			</if>
			<if test="unitTypeName != null and unitTypeName != ''">
				AND a.unit_type_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{unitTypeName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{unitTypeName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{unitTypeName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.unit_type_code 
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="UnitType" >
		SELECT 
			<include refid="unitTypeColumns"/>
		FROM mdm_unit_type a
		<include refid="unitTypeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.unit_type_code 
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO mdm_unit_type(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			unit_type_code,
			unit_type_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{unitTypeCode},
			#{unitTypeName}
		)
	</insert>
	
	<update id="update">
		UPDATE mdm_unit_type SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			unit_type_code = #{unitTypeCode},
			unit_type_name = #{unitTypeName}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM mdm_unit_type
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE mdm_unit_type SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="UnitType" statementType="STATEMENT">
		select * FROM mdm_unit_type  where ${propertyName} = '${value}'
	</select>
	
</mapper>