<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.qualitymanage.purreporttypesta.mapper.PurReportTypeStaMapper">
    
	<sql id="purReportTypeStaColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.year AS "year",
		a.month AS "month",
		a.type AS "type",
		a.sum AS "sum",
		a.qualified_num AS "qualifiedNum",
		a.fail_num AS "failNum",
		a.special_num AS "specialNum",
		a.qualified_rate AS "qualifiedRate"
	</sql>

	<sql id="sumReportNewByDateColumns">
		item.name AS "type",
		SUM(1) AS "sum",
		SUM(IF(b.check_result='合格',1,0)) AS "qualifiedNum",
		SUM(IF(b.check_result='不合格',1,0)) AS "failNum",
		SUM(IF(b.check_result='	特采需要风险评估',1,0)) AS "specialNum",
		SUM(IF(b.check_result='合格',1,0))/SUM(1) AS "qualifiedRate"
	</sql>
	
	<sql id="purReportTypeStaJoins">
		
	</sql>

	<sql id="sumReportNewByDateJoins">
		LEFT JOIN (SELECT name,class_id from mdm_itemclass WHERE LENGTH(class_id) = 2) item ON LEFT(b.icode,2) = item.class_id
	</sql>
	
    
	<select id="get" resultType="PurReportTypeSta" >
		SELECT 
			<include refid="purReportTypeStaColumns"/>
		FROM qms_purreport_type_sta a
		<include refid="purReportTypeStaJoins"/>
		WHERE a.id = #{id}
	</select>

	<!--根据月份来统计purreportnew表中合格，不合格，特采以及合格率，并以物料大类来分类显示-->
	<select id="sumReportNewByDate" resultType="PurReportTypeSta">
		SELECT
		<include refid="sumReportNewByDateColumns"/>
		FROM `qms_purreportnew` b
		<include refid="sumReportNewByDateJoins"/>
		<where>
			b.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="dateQuery != null and dateQuery != ''">
				AND date_format(b.check_date,'%Y%m') = date_format(#{year},'%Y%m')
			</if>
		</where>
		GROUP BY item.name
	</select>

	<select id="findList" resultType="PurReportTypeSta" >
		SELECT 
			<include refid="purReportTypeStaColumns"/>
		FROM qms_purreport_type_sta a
		<include refid="purReportTypeStaJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="year != null and year != ''">
				AND a.year = #{year}
			</if>
			<if test="month != null and month != ''">
				AND a.month = #{month}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="sum != null and sum != ''">
				AND a.sum = #{sum}
			</if>
			<if test="qualifiedNum != null and qualifiedNum != ''">
				AND a.qualified_num = #{qualifiedNum}
			</if>
			<if test="failNum != null and failNum != ''">
				AND a.fail_num = #{failNum}
			</if>
			<if test="specialNum != null and specialNum != ''">
				AND a.special_num = #{specialNum}
			</if>
			<if test="qualifiedRate != null and qualifiedRate != ''">
				AND a.qualified_rate = #{qualifiedRate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.qualified_rate DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="PurReportTypeSta" >
		SELECT 
			<include refid="purReportTypeStaColumns"/>
		FROM qms_purreport_type_sta a
		<include refid="purReportTypeStaJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qms_purreport_type_sta(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			year,
			month,
			type,
			sum,
			qualified_num,
			fail_num,
			special_num,
			qualified_rate
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{year},
			#{month},
			#{type},
			#{sum},
			#{qualifiedNum},
			#{failNum},
			#{specialNum},
			#{qualifiedRate}
		)
	</insert>
	
	<update id="update">
		UPDATE qms_purreport_type_sta SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			year = #{year},
			month = #{month},
			type = #{type},
			sum = #{sum},
			qualified_num = #{qualifiedNum},
			fail_num = #{failNum},
			special_num = #{specialNum},
			qualified_rate = #{qualifiedRate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qms_purreport_type_sta
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qms_purreport_type_sta SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="PurReportTypeSta" statementType="STATEMENT">
		select * FROM qms_purreport_type_sta  where ${propertyName} = '${value}'
	</select>
	
</mapper>