<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.purchasemanage.areacode.mapper.AreaCodeMapper">
    
	<sql id="areaCodeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.areacode AS "areacode",
		a.areaname AS "areaname",
		a.notes AS "notes",
		a.user_dept_code AS "userDeptCode"
	</sql>
	
	<sql id="areaCodeJoins">
		
	</sql>
	
    
	<select id="get" resultType="AreaCode" >
		SELECT 
			<include refid="areaCodeColumns"/>
		FROM pur_areacode a
		<include refid="areaCodeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="AreaCode" >
		SELECT 
			<include refid="areaCodeColumns"/>
		FROM pur_areacode a
		<include refid="areaCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="areacode != null and areacode != ''">
				AND a.areacode LIKE 
					<if test="dbName == 'oracle'">'%'||#{areacode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{areacode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{areacode},'%')</if>
			</if>
			<if test="areaname != null and areaname != ''">
				AND a.areaname LIKE 
					<if test="dbName == 'oracle'">'%'||#{areaname}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{areaname}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{areaname},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	<select id="getMaxAreacode" resultType="String">
		SELECT MAX(areacode)
		FROM pur_areacode
	</select>
	
	<select id="findAllList" resultType="AreaCode" >
		SELECT 
			<include refid="areaCodeColumns"/>
		FROM pur_areacode a
		<include refid="areaCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO pur_areacode(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			areacode,
			areaname,
			notes,
			user_dept_code
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{areacode},
			#{areaname},
			#{notes},
			#{userDeptCode}
		)
	</insert>
	
	<update id="update">
		UPDATE pur_areacode SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			areacode = #{areacode},
			areaname = #{areaname},
			notes = #{notes},
			user_dept_code = #{userDeptCode}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM pur_areacode
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE pur_areacode SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="AreaCode" statementType="STATEMENT">
		select * FROM pur_areacode  where ${propertyName} = '${value}'
	</select>
	
</mapper>