<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.purchasemanage.group.mapper.GroupWareMapper">
    
	<sql id="groupWareColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.groupid AS "Group.groupid",
		a.groupid AS "groupid",
		a.wareid AS "warehouse.id",
		a.warename AS "warename",		
		warehouse.ware_id AS "warehouse.wareId",
		warehouse.ware_name AS "warehouse.wareName"
	</sql>
	
	<sql id="groupWareJoins">
		
		LEFT JOIN pur_group b ON b.id = a.groupid
		LEFT JOIN inv_warehouse warehouse ON warehouse.id = a.wareid
	</sql>
	
    
	<select id="get" resultType="GroupWare" >
		SELECT 
			<include refid="groupWareColumns"/>
		FROM pur_groupware a
		<include refid="groupWareJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="getGroupWare" resultType="GroupWare" >
	SELECT 
		<include refid="groupWareColumns"/>
	FROM pur_groupware a
	<include refid="groupWareJoins"/>
	WHERE a.groupid = #{groupid}
	</select>
	
	<select id="findList" resultType="GroupWare" >
		SELECT 
			<include refid="groupWareColumns"/>
		FROM pur_groupware a
		<include refid="groupWareJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="Group != null and Group.groupid != null and Group.groupid != ''">
				AND a.groupid = #{Group.groupid}
			</if>
			<if test="warehouse != null and warehouse.id != null and warehouse.id != ''">
				AND a.wareid = #{warehouse.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="GroupWare" >
		SELECT 
			<include refid="groupWareColumns"/>
		FROM pur_groupware a
		<include refid="groupWareJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO pur_groupware(
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			groupid,
			wareid,
			warename
		) VALUES (
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{Group.groupid},
			#{warehouse.id},
			#{warename}
		)
	</insert>
	
	<update id="update">
		UPDATE pur_groupware SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			groupid = #{Group.groupid},
			wareid = #{warehouse.id},
			warename = #{warename}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM pur_groupware
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE groupid = #{Group.groupid}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE pur_groupware SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE groupid = #{Group.groupid}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="GroupWare" statementType="STATEMENT">
		select * FROM pur_groupware  where ${propertyName} = '${value}'
	</select>
	
</mapper>