<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.purchasemanage.group.mapper.GroupBuyerQueryMapper">
    
	<sql id="groupBuyerColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.groupid AS "Group.groupid",
		a.buyerid AS "user.id",
		a.buyername AS "buyername",
		a.buyerlevel AS "buyerlevel",		
		user.no AS "user.no",					
		user.name AS "user.name"
	</sql>
	
	<sql id="groupBuyerJoins">
		
			LEFT JOIN pur_group b ON b.id = a.groupid
		LEFT JOIN sys_user user ON user.id = a.buyerid
	</sql>
	
    
	<select id="get" resultType="GroupBuyer" >
		SELECT 
			<include refid="groupBuyerColumns"/>
		FROM pur_groupbuyer a
		<include refid="groupBuyerJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="GroupBuyer" >
		SELECT 
			<include refid="groupBuyerColumns"/>
		FROM pur_groupbuyer a
		<include refid="groupBuyerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="Group != null and Group.groupid != null and Group.groupid != ''">
				AND a.groupid = #{Group.groupid}
			</if>
			<if test="user != null and user.id != null and user.id != ''">
				AND a.buyerid = #{user.id}
			</if>
			<if test="user != null and user.no != null and user.no != ''">
				AND user.no = #{user.no}
			</if>
			<if test="user != null and user.name != null and user.name != ''">
				AND user.name = #{user.name}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="GroupBuyer" >
		SELECT 
			<include refid="groupBuyerColumns"/>
		FROM pur_groupbuyer a
		<include refid="groupBuyerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	

	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM pur_groupbuyer
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE groupid = #{Group.groupid}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE pur_groupbuyer SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE groupid = #{Group.groupid}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="GroupBuyer" statementType="STATEMENT">
		select * FROM pur_groupbuyer  where ${propertyName} = '${value}'
	</select>
	
</mapper>