<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.basedata.account.mapper.AccountMapper">
    
	<sql id="accountColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.account_code AS "accountCode",
		a.account_name AS "accountName",
		a.account_sname AS "accountSname",
		a.acc_type_code AS "accType.accTypeCode",
		a.acc_type_name AS "accTypeNameRu",
		a.sub_type_code AS "subTypeCode",
		a.sub_type_name AS "subTypeName",
		a.area_code AS "areaCode",
		a.area_name AS "areaName",
		a.level_code AS "levelCode",
		a.account_mgr AS "accountMgr",
		a.net_asset AS "netAsset",
		a.account_addr AS "accountAddr",
		a.post_code AS "postCode",
		a.account_prop AS "accountProp",
		a.main_prod AS "mainProd",
		a.reg_cap AS "regCap",
		a.emp_dim AS "empDim",
		a.recent_stat AS "recentStat",
		a.tax_code AS "taxCode",
		a.tel_num AS "telNum",
		a.reg AS "reg",
		a.fax_num AS "faxNum",
		a.email AS "email",
		a.web_addr AS "webAddr",
		a.rev_person AS "revPerson",
		a.bank_name AS "bankName",
		a.bank_account AS "bankAccount",
		a.sup_higher_up AS "supHigherUp",
		a.account_indu AS "accountIndu",
		a.busi_rev AS "busiRev",
		a.input_date AS "inputDate",
		a.make_emp_id AS "makeEmpid",
		a.make_emp_name AS "makeEmpname",
		a.sup_evalation AS "supEvalation",
		a.sup_reputation_sum AS "supReputationSum",
		a.sup_notes AS "supNotes",
		a.state AS "state",
		a.sub_intr AS "subIntr",
		a.sup_flag AS "supFlag",
		a.data1 AS "data1",
		a.flag AS "flag",
		a.base_score AS "baseScore",
		a.trade_score AS "tradeScore",
		a.total_score AS "totalScore",
		a.result AS "result",
		a.fncid AS "fncId",
		a.sup_float AS "supFloat",
		a.sup_tax AS "supTax",
		a.sal_orgz_code AS "salOrgzCode",
		a.tax_ratio AS "taxRatio",
				
				
				
				
				
				
				
				
				
				
		accType.acc_type_name AS "accType.accTypeName"
	</sql>
	
	<sql id="accountJoins">
		
		LEFT JOIN mdm_accounttype accType ON accType.acc_type_code = a.acc_type_code
	</sql>
	
    
	<select id="get" resultType="Account" >
		SELECT 
			<include refid="accountColumns"/>
		FROM mdm_account a
		<include refid="accountJoins"/>
		WHERE a.id = #{id}
	</select>

    <select id="getCodeNum" resultType="Integer">
        SELECT count(*)
        FROM mdm_account
        WHERE account_code = #{accCode}
    </select>
	
	<select id="findList" resultType="Account" >
		SELECT 
			<include refid="accountColumns"/>
		FROM mdm_account a
		<include refid="accountJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="accountCode != null and accountCode != ''">
				AND a.account_code LIKE concat(concat("%",#{accountCode}),"%")
			</if>
			<if test="accountName != null and accountName != ''">
				AND a.account_name LIKE concat(concat("%",#{accountName}),"%")
			</if>
			<if test="accType != null and accType.accTypeCode != null and accType.accTypeCode != ''">
				AND accType.acc_type_code = #{accType.accTypeCode}
			</if>
			<if test="accTypeNameRu != null and accTypeNameRu != ''">
				AND a.acc_type_name LIKE concat(concat("%",#{accTypeNameRu}),"%")
			</if>
			<if test="accountMgr != null and accountMgr != ''">
				AND a.account_mgr LIKE concat(concat("%",#{accountMgr}),"%")
			</if>
			<if test="accountProp != null and accountProp != ''">
				AND a.account_prop LIKE concat(concat("%",#{accountProp}),"%")
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.account_code ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Account" >
		SELECT 
			<include refid="accountColumns"/>
		FROM mdm_account a
		<include refid="accountJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.account_code ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO mdm_account(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			account_code,
			account_name,
			account_sname,
			acc_type_code,
			acc_type_name,
			sub_type_code,
			sub_type_name,
			area_code,
			area_name,
			level_code,
			account_mgr,
			net_asset,
			account_addr,
			post_code,
			account_prop,
			main_prod,
			reg_cap,
			emp_dim,
			recent_stat,
			tax_code,
			tel_num,
			reg,
			fax_num,
			email,
			web_addr,
			rev_person,
			bank_name,
			bank_account,
			sup_higher_up,
			account_indu,
			busi_rev,
			input_date,
			make_emp_id,
			make_emp_name,
			sup_evalation,
			sup_reputation_sum,
			sup_notes,
			state,
			sub_intr,
			sup_flag,
			data1,
			flag,
			base_score,
			trade_score,
			total_score,
			result,
			fncid,
			sup_float,
			sup_tax,
			sal_orgz_code,
			tax_ratio
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{accountCode},
			#{accountName},
			#{accountSname},
			#{accType.accTypeCode},
			#{accTypeNameRu},
			#{subTypeCode},
			#{subTypeName},
			#{areaCode},
			#{areaName},
			#{levelCode},
			#{accountMgr},
			#{netAsset},
			#{accountAddr},
			#{postCode},
			#{accountProp},
			#{mainProd},
			#{regCap},
			#{empDim},
			#{recentStat},
			#{taxCode},
			#{telNum},
			#{reg},
			#{faxNum},
			#{email},
			#{webAddr},
			#{revPerson},
			#{bankName},
			#{bankAccount},
			#{supHigherUp},
			#{accountIndu},
			#{busiRev},
			#{inputDate},
			#{makeEmpid},
			#{makeEmpname},
			#{supEvalation},
			#{supReputationSum},
			#{supNotes},
			#{state},
			#{subIntr},
			#{supFlag},
			#{data1},
			#{flag},
			#{baseScore},
			#{tradeScore},
			#{totalScore},
			#{result},
			#{fncId},
			#{supFloat},
			#{supTax},
			#{salOrgzCode},
			#{taxRatio}
		)
	</insert>
	
	<update id="update">
		UPDATE mdm_account SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			account_code = #{accountCode},
			account_name = #{accountName},
			account_sname = #{accountSname},
			acc_type_code = #{accType.accTypeCode},
			acc_type_name = #{accTypeNameRu},
			sub_type_code = #{subTypeCode},
			sub_type_name = #{subTypeName},
			area_code = #{areaCode},
			area_name = #{areaName},
			level_code = #{levelCode},
			account_mgr = #{accountMgr},
			net_asset = #{netAsset},
			account_addr = #{accountAddr},
			post_code = #{postCode},
			account_prop = #{accountProp},
			main_prod = #{mainProd},
			reg_cap = #{regCap},
			emp_dim = #{empDim},
			recent_stat = #{recentStat},
			tax_code = #{taxCode},
			tel_num = #{telNum},
			reg = #{reg},
			fax_num = #{faxNum},
			email = #{email},
			web_addr = #{webAddr},
			rev_person = #{revPerson},
			bank_name = #{bankName},
			bank_account = #{bankAccount},
			sup_higher_up = #{supHigherUp},
			account_indu = #{accountIndu},
			busi_rev = #{busiRev},
			input_date = #{inputDate},
			make_emp_id = #{makeEmpid},
			make_emp_name = #{makeEmpname},
			sup_evalation = #{supEvalation},
			sup_reputation_sum = #{supReputationSum},
			sup_notes = #{supNotes},
			state = #{state},
			sub_intr = #{subIntr},
			sup_flag = #{supFlag},
			data1 = #{data1},
			flag = #{flag},
			base_score = #{baseScore},
			trade_score = #{tradeScore},
			total_score = #{totalScore},
			result = #{result},
			fncid = #{fncId},
			sup_float = #{supFloat},
			sup_tax = #{supTax},
			sal_orgz_code = #{salOrgzCode},
			tax_ratio = #{taxRatio}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM mdm_account
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE mdm_account SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Account" statementType="STATEMENT">
		select * FROM mdm_account  where ${propertyName} = '${value}'
	</select>
	
</mapper>