<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.salemanage.accountfile.mapper.LinkManMapper">
    
	<sql id="linkManColumns">
		a.id AS "id",
		a.account_code AS "accountCode",
		a.link_man_code AS "linkManCode",
		a.link_man_name AS "linkManName",
		a.link_man_sex AS "linkManSex",
		a.link_man_tel AS "linkManTel",
		a.link_man_mobile AS "linkManMobile",
		a.link_man_email AS "linkManEmail",
		a.link_man_fax AS "linkManFax",
		a.remark AS "remark",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="linkManJoins">
		
			LEFT JOIN mdm_account b ON b.id = a.account_code
	</sql>
	
    
	<select id="get" resultType="LinkMan" >
		SELECT 
			<include refid="linkManColumns"/>
		FROM sal_linkman a
		<include refid="linkManJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="LinkMan" >
		SELECT 
			<include refid="linkManColumns"/>
		FROM sal_linkman a
		<include refid="linkManJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="accountCode != null and accountCode != ''">
				AND a.account_code LIKE 
					<if test="dbName == 'oracle'">'%'||#{accountCode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{accountCode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{accountCode},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="LinkMan" >
		SELECT 
			<include refid="linkManColumns"/>
		FROM sal_linkman a
		<include refid="linkManJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sal_linkman(
			id,
			account_code,
			link_man_code,
			link_man_name,
			link_man_sex,
			link_man_tel,
			link_man_mobile,
			link_man_email,
			link_man_fax,
			remark,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{accountCode},
			#{linkManCode},
			#{linkManName},
			#{linkManSex},
			#{linkManTel},
			#{linkManMobile},
			#{linkManEmail},
			#{linkManFax},
			#{remark},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE sal_linkman SET 	
			account_code = #{accountCode},
			link_man_code = #{linkManCode},
			link_man_name = #{linkManName},
			link_man_sex = #{linkManSex},
			link_man_tel = #{linkManTel},
			link_man_mobile = #{linkManMobile},
			link_man_email = #{linkManEmail},
			link_man_fax = #{linkManFax},
			remark = #{remark},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM sal_linkman
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE account_code = #{accountCode}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sal_linkman SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE account_code = #{accountCode}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="LinkMan" statementType="STATEMENT">
		select * FROM sal_linkman  where ${propertyName} = '${value}'
	</select>
	
</mapper>