<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.inventorymanage.udpinfo.mapper.UdpRecordMapper">
    
	<sql id="udpRecordColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.udp_info AS "udpInfo",
		a.udp_send_user AS "udpSendUser"
	</sql>
	
	<sql id="udpRecordJoins">
		
	</sql>
	
    
	<select id="get" resultType="UdpRecord" >
		SELECT 
			<include refid="udpRecordColumns"/>
		FROM udp_record a
		<include refid="udpRecordJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="UdpRecord" >
		SELECT 
			<include refid="udpRecordColumns"/>
		FROM udp_record a
		<include refid="udpRecordJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="UdpRecord" >
		SELECT 
			<include refid="udpRecordColumns"/>
		FROM udp_record a
		<include refid="udpRecordJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO udp_record(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			udp_info,
			udp_send_user
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{udpInfo},
			#{udpSendUser}
		)
	</insert>
	
	<update id="update">
		UPDATE udp_record SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			udp_info = #{udpInfo},
			udp_send_user = #{udpSendUser}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM udp_record
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE udp_record SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="UdpRecord" statementType="STATEMENT">
		select * FROM udp_record  where ${propertyName} = '${value}'
	</select>
	
</mapper>