<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.costmanage.reportmanage.inproductmapper.inproductMapper">
<select id="findList" resultType="ResourceImport">
	SELECT
	inv_billmain.dept_name as "deptName",
	inv_billmain.work_posname as "workPosname",
	inv_billmain.bill_date as "billDate",





	inv_billdetail.order_num as "orderNum",
	inv_billdetail.item_code as "itemCode",
	inv_billdetail.item_name as "itemName",
	inv_billdetail.item_spec as "itemSpec",
	inv_billdetail.meas_unit as "measUnit",
	inv_billdetail.item_qty as "itemQty",
	inv_billdetail.item_price as "itemPrice",
	inv_billdetail.item_sum as "itemSum",

	<!-- inv_billmain.bill_person as "billPerson", -->
	inv_billmain.ware_empname as "wareEmpname",
	inv_billmain.io_type,

	inv_billdetail.note as "note",
	billp.`name` as "billPerson",

	sys_user.`name` as "billEmpname"
	from inv_billmain
	inner join inv_billdetail on inv_billmain.id = inv_billdetail.bill_num
	inner join sys_user on sys_user.`no` = inv_billmain.bill_empid
	inner join sys_user billp on billp.`no` = inv_billmain.bill_person
	<where>
		
			inv_billmain.io_type like 'CI%'

		<if test="beginBillDate != null and endBillDate != null and beginBillDate != '' and endBillDate != ''">
			AND inv_billmain.bill_date BETWEEN #{beginBillDate} AND #{endBillDate}
		</if>
		<if test = "deptName != null and deptName != '' ">
			AND inv_bill_type.dept_name like 
				<if test="dbName == 'oracle'">'%'||#{deptName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{deptName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{deptName},'%')</if>
		</if>
		<if test = "workPosname != null and workPosname != '' ">
			AND inv_billmain.work_posname like 
				<if test="dbName == 'oracle'">'%'||#{workPosname}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{workPosname}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{workPosname},'%')</if>
		</if>
		<if test = "orderNum != null and orderNum != '' ">
			AND pur_relations.order_num like 
				<if test="dbName == 'oracle'">'%'||#{orderNum}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{orderNum}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{orderNum},'%')</if>
		</if>
		<if test = "itemName != null and itemName != '' ">
			AND inv_billdetail.item_name like
			<if test="dbName == 'oracle'">'%'||#{itemName}||'%'</if>
			<if test="dbName == 'mssql'">'%'+#{itemName}+'%'</if>
			<if test="dbName == 'mysql'">concat('%',#{itemName},'%')</if>
		</if>

	</where>
	<choose>
		<when test="page !=null and page.orderBy != null and page.orderBy != ''">
			ORDER BY ${page.orderBy}
		</when>
		<otherwise>
			ORDER BY a.update_date DESC
		</otherwise>
	</choose>
</select>
</mapper>
