<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.purchasemanage.purplanstatis.mapper.PurPlanDetailStatisMapper">
    
	<sql id="purPlanDetailStatisColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",

		a.serial_num AS "serialNum",
		a.item_code AS "itemCode.id",
		a.item_name AS "itemName",
		a.item_specmodel AS "itemSpecmodel",
		a.unit_name AS "unitName",
		a.plan_qty AS "planQty",
		a.pur_qty AS "purQty",

		a.plan_price AS "planPrice",
		a.plan_sum AS "planSum",
		a.buyer_id AS "buyerId.id",
		a.buyer_name AS "buyerName",
		b.sup_id AS "supId.id",
		b.sup_name AS "supName",
				

		b.bill_num AS "billNum",
		b.plan_date AS "planDate",
        b.bill_type AS "billType",
				
				
				
				
				
				
		itemCode.code AS "itemCode.code",
				
				
				
				
				
				
				
				
				
		buyerId.no AS "buyerId.no",
		buyerId.name AS "buyerId.name"
	</sql>
	
	<sql id="purPlanDetailStatisJoins">
		LEFT JOIN pur_planmain b ON b.id = a.bill_num
		LEFT JOIN mdm_item itemCode ON itemCode.id = a.item_code
		LEFT JOIN sys_user buyerId ON buyerId.id = a.buyer_id

	</sql>
	
    
	<select id="get" resultType="PurPlanDetailStatis" >
		SELECT 
			<include refid="purPlanDetailStatisColumns"/>
		FROM pur_plandetail a
		<include refid="purPlanDetailStatisJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="PurPlanDetailStatis" >
		SELECT 
			<include refid="purPlanDetailStatisColumns"/>
		FROM pur_plandetail a
		<include refid="purPlanDetailStatisJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="billNum != null and billNum != ''">
				AND b.bill_num LIKE
					<if test="dbName == 'oracle'">'%'||#{billNum}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{billNum}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{billNum},'%')</if>
			</if>
			<if test="billType != null and billType != ''">
				AND b.bill_type = #{billType}
			</if>
			<if test="serialNum != null and serialNum != ''">
				AND a.serial_num = #{serialNum}
			</if>
			<if test="itemCode != null and itemCode.id != null and itemCode.id != ''">
				AND a.item_code = #{itemCode.id}
			</if>
			<if test="itemName != null and itemName != ''">
				AND a.item_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{itemName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{itemName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{itemName},'%')</if>
			</if>
			<if test="itemSpecmodel != null and itemSpecmodel != ''">
				AND a.item_specmodel LIKE 
					<if test="dbName == 'oracle'">'%'||#{itemSpecmodel}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{itemSpecmodel}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{itemSpecmodel},'%')</if>
			</if>
			<if test="unitName != null and unitName != ''">
				AND a.unit_name = #{unitName}
			</if>
			<if test="planQty != null and planQty != ''">
				AND a.plan_qty = #{planQty}
			</if>
			<if test="purQty != null and purQty != ''">
				AND a.pur_qty = #{purQty}
			</if>
			<if test="beginPlanDate != null and endPlanDate != null and beginPlanDate != '' and endPlanDate != ''">
				AND b.plan_date BETWEEN #{beginPlanDate} AND #{endPlanDate}
			</if>
			<if test="planPrice != null and planPrice != ''">
				AND a.plan_price = #{planPrice}
			</if>
			<if test="planSum != null and planSum != ''">
				AND a.plan_sum = #{planSum}
			</if>
			<if test="buyerId != null and buyerId.id != null and buyerId.id != ''">
				AND a.buyer_id = #{buyerId.id}
			</if>
			<if test="buyerName != null and buyerName != ''">
				AND a.buyer_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{buyerName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{buyerName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{buyerName},'%')</if>
			</if>
			<if test="supId != null and supId.id != null and supId.id != ''">
				AND b.sup_id = #{supId.id}
			</if>
			<if test="supName != null and supName != ''">
				AND b.sup_name LIKE
					<if test="dbName == 'oracle'">'%'||#{supName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{supName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{supName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="PurPlanDetailStatis" >
		SELECT 
			<include refid="purPlanDetailStatisColumns"/>
		FROM pur_plandetail a
		<include refid="purPlanDetailStatisJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO pur_plandetail_sta(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			bill_num,
			bill_type,
			serial_num,
			item_code,
			item_name,
			item_specmodel,
			unit_name,
			plan_qty,
			pur_qty,
			plan_date,
			plan_price,
			plan_sum,
			buyer_id,
			buyer_name,
			sup_id,
			sup_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{billNum},
			#{billType},
			#{serialNum},
			#{itemCode.id},
			#{itemName},
			#{itemSpecmodel},
			#{unitName},
			#{planQty},
			#{purQty},
			#{planDate},
			#{planPrice},
			#{planSum},
			#{buyerId.id},
			#{buyerName},
			#{supId.id},
			#{supName}
		)
	</insert>
	
	<update id="update">
		UPDATE pur_plandetail_sta SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			bill_num = #{billNum},
			bill_type = #{billType},
			serial_num = #{serialNum},
			item_code = #{itemCode.id},
			item_name = #{itemName},
			item_specmodel = #{itemSpecmodel},
			unit_name = #{unitName},
			plan_qty = #{planQty},
			pur_qty = #{purQty},
			plan_date = #{planDate},
			plan_price = #{planPrice},
			plan_sum = #{planSum},
			buyer_id = #{buyerId.id},
			buyer_name = #{buyerName},
			sup_id = #{supId.id},
			sup_name = #{supName}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM pur_plandetail_sta
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE pur_plandetail_sta SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="PurPlanDetailStatis" statementType="STATEMENT">
		select * FROM pur_plandetail_sta  where ${propertyName} = '${value}'
	</select>
	
</mapper>