<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.qualitymanage.objectdef.mapper.ObjectItemMapper">
    
	<sql id="objectItemColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.obj_code AS "obj.id",
		a.obj_name AS "objName",
		a.qcnorm_id AS "qcNorm.id",
		a.qcnorm_name AS "QCNormName",
				
				
				
				
				
				
				
				
				
		qcNorm.qcnorm_name AS "qcNorm.qnormname"
	</sql>
	
	<sql id="objectItemJoins">
		
			LEFT JOIN qms_objectdef b ON b.id = a.obj_code
		LEFT JOIN qms_qcnorm qcNorm ON qcNorm.id = a.qcnorm_id
	</sql>
	
    
	<select id="get" resultType="ObjectItem" >
		SELECT 
			<include refid="objectItemColumns"/>
		FROM qms_objectitem a
		<include refid="objectItemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ObjectItem" >
		SELECT 
			<include refid="objectItemColumns"/>
		FROM qms_objectitem a
		<include refid="objectItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="obj != null and obj.id != null and obj.id != ''">
				AND a.obj_code = #{obj.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ObjectItem" >
		SELECT 
			<include refid="objectItemColumns"/>
		FROM qms_objectitem a
		<include refid="objectItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qms_objectitem(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			obj_code,
			obj_name,
			qcnorm_id,
			qcnorm_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{obj.id},
			#{objName},
			#{qcNorm.id},
			#{QCNormName}
		)
	</insert>
	
	<update id="update">
		UPDATE qms_objectitem SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			obj_code = #{obj.id},
			obj_name = #{objName},
			qcnorm_id = #{qcNorm.id},
			qcnorm_name = #{QCNormName}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qms_objectitem
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE obj_code = #{obj.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qms_objectitem SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE obj_code = #{obj.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ObjectItem" statementType="STATEMENT">
		select * FROM qms_objectitem  where ${propertyName} = '${value}'
	</select>
	
</mapper>