<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.costmanage.reportmanage.resourceImportOutputmapper.PayDetailMapper">
<select id="findList" resultType="ResourceImport">
	select 
	inv_billmain.bill_date as "billDate",
	inv_billmain.account_name as "corName",
	sal_pick_bill.contract_code as "contractCode",
	inv_billdetail.item_name as "itemName",
	inv_billdetail.item_qty as "itemQty",
	inv_billdetail.item_price as "itemPrice",
	inv_billdetail.item_sum as "itemSum"
	
	from 
	inv_billmain
	inner join sal_pick_bill on inv_billmain.cor_bill_num = sal_pick_bill.pbill_code
	inner join inv_billdetail on inv_billmain.id=inv_billdetail.bill_num

	<where>
		<if test = "corName != null and corName != '' ">
			inv_billmain.account_name like 
				<if test="dbName == 'oracle'">'%'||#{corName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{corName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{corName},'%')</if>
		</if>
		<if test="beginBillDate != null and endBillDate != null and beginBillDate != '' and endBillDate != ''">
				AND inv_billmain.bill_date BETWEEN #{beginBillDate} AND #{endBillDate}
		</if>
		<if test = "contractCode != null and contractCode != '' ">
			AND sal_pick_bill.contract_code like 
				<if test="dbName == 'oracle'">'%'||#{contractCode}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{contractCode}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{contractCode},'%')</if>
		</if>
		
		<if test = "itemName != null and itemName != '' ">
			AND inv_billdetail.item_name like 
				<if test="dbName == 'oracle'">'%'||#{itemName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{itemName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{itemName},'%')</if>
		</if>
		
	</where>
</select>
</mapper>
