<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqu.modules.qualitymanage.qualitynorm.mapper.QualityNormMapper">
    
	<sql id="qualityNormColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.qnorm_code AS "qnormcode",
		a.qnorm_name AS "qnormname",
		a.qnorm_des AS "qnormdes"
	</sql>
	
	<sql id="qualityNormJoins">
		
	</sql>
	
    
	<select id="get" resultType="QualityNorm" >
		SELECT 
			<include refid="qualityNormColumns"/>
		FROM qms_qualitynorm a
		<include refid="qualityNormJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QualityNorm" >
		SELECT 
			<include refid="qualityNormColumns"/>
		FROM qms_qualitynorm a
		<include refid="qualityNormJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="qnormcode != null and qnormcode != ''">
				AND a.qnorm_code = #{qnormcode}
			</if>
			<if test="qnormname != null and qnormname != ''">
				AND a.qnorm_name = #{qnormname}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QualityNorm" >
		SELECT 
			<include refid="qualityNormColumns"/>
		FROM qms_qualitynorm a
		<include refid="qualityNormJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

    <select id="getAll" resultType="QualityNorm" >
        SELECT *
        FROM qms_qualitynorm
    </select>

	<insert id="insert">
		INSERT INTO qms_qualitynorm(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			qnorm_code,
			qnorm_name,
			qnorm_des
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{qnormcode},
			#{qnormname},
			#{qnormdes}
		)
	</insert>
	
	<update id="update">
		UPDATE qms_qualitynorm SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			qnorm_code = #{qnormcode},
			qnorm_name = #{qnormname},
			qnorm_des = #{qnormdes}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qms_qualitynorm
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qms_qualitynorm SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QualityNorm" statementType="STATEMENT">
		select * FROM qms_qualitynorm  where ${propertyName} = '${value}'
	</select>
	
</mapper>